# Flutter / Dart
.dart_tool/
.pub/
.pub-cache/
.flutter-plugins
.flutter-plugins-dependencies

# Build outputs
build/
.ephemeral/
windows/flutter/ephemeral/

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Executables
*.exe
*.dll
*.so
*.dylib
